* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-image: url("../assets/img/bodyfondo1.png");

    background-repeat: repeat;
    background-size: cover;
}
/*Se agrega esta linea para quitar el scrol a  la derecha q tenia la pagina*/
html,body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

h1,
h2 {

    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

hr {
    border: 0;
    border-top: 5px solid $colorPrincipal;
    text-align: center;
    margin:0rem;
    opacity:1;
}

/* TITULO BANNER DE LAS PAGINAS*/
.BannerTitulo {
    display: flex;
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(7, 7, 7, 0.4)100%, rgba(0, 0, 0, 0.8)100%), url("../assets/img/banertop.jpg");
    /*background-image: url("../assets/img/banertop.jpg");*/
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

.BannerTitulo__Texto {
    width: 50%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    opacity: .8;
    font-weight: 700;
    font-size: 62px;
    margin-bottom: 10px;
    line-height: 66px;
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
}

.BannerTitulo__Texto h1{
   
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 62px;
  
}
