header {
    width: 100%;
    margin-bottom: 0;
    ;
}

header img {
    margin-top: 5%;
    width: 150px;
    margin-left: 50px;

}


.menu-items{
    display: flex;
}


.menu-items a {

font-size: 25px;
}


.menu-items li {
   
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin: 15px;
    padding: 20px;
    transition: color 0.5s ease-in-out;
    font-family: 'Bebas Neue', cursive;
}
.menu-items li:hover{
    list-style:disc;
    color:rgb(143, 98, 47);
}


.menu-items a {
  
    color: #3d2c2a;
     transition: color 0.5s ease-in-out;
     font-weight: 500;
}



.menu-items li a:hover {
  
    color: #cc926f;
    transition: background-color 500ms linear
}
