




/* ............/navbar/............ *

/* desktop mode............/// */


body{
  
    margin:0px;
    padding: 0px;
}

.btn {
    color: rgb(239, 229, 229);
  
   

    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/*FIN NUEVO NAV*/







.sectionprincipal__texto {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-left: 3rem;
    margin-top: 2rem;
    color: map-get($map: $color, $key: primario);
  
    
     h2{
      
        line-height: 57px;
      
        margin-bottom: 2rem;
        text-align: center;
    }

    button {
        background-color: $colorSecundario;
        
        font-weight:900;
        cursor: pointer;
        font-size: 16px;
    
        padding: 21px 42px;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: $fuenteSecundaria;
    
        color: white;
        transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    
        margin: 15px;
    }

    button:hover {
        background-color: $colorPrincipal;
       color:rgb(252, 248, 246);
    }

}



.sectionprincipal__Iconos {
    width: 100%;
    text-align: center;
 color: $colorPrincipal;
 transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
 
}

.icon1:hover{
    
    @include filtrocolor($filtroazul);

 }
.icon2:hover{
    
    @include filtrocolor($filtronaranja);
    
 }
 .icon3:hover{
    
    @include filtrocolor($filtrorojo);
    
 }


.SeccionPrincipal__img {
  
 
    animation: taza 1s infinite alternate;

    img {
        width: 500px;
    }
}




@keyframes taza {
    0% {
        animation: taza 0.6s infinite alternate;
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25px);
    }
}




.background{
    background-image: url("../assets/img/background3.jpg");
    background-size: cover;
}



.divtitulomen{
color: $colorPrincipal;


 h2{
  font-family: $fuenteSecundaria;
  font-size: 32px;
  
}
}



.Menus__img {
    
    min-width: 450px;
    


}

.box {
   
   width: 100%;
	position: relative;
    vertical-align: middle;
	border: 5px solid $colorPrincipal;
	
    img {
        width: 100%; 
        height:auto;
        display: block;
       
        }
}


.box .infor {
    position: absolute; 
    top:0;
    height:100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
     
      top: 15%;
     left: 25%;
     height: 100%;
     width: 100%;
     margin: -15% 0 0 -25%;
      line-height: 200px;
    padding: 20px;
    text-align: center;
    font-family: $fuenteSecundaria;

    h3 {
        font-size: 40px;
        line-height: 40px;
        overflow: hidden;
         white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 40%;
    }

    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.box:hover .infor {
		opacity: 1;
}





.containerfull{
    width: 100%;

}



.Menus__texto {
  
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: large;
    color: $colorPrincipal;
    padding-top: 30px;
    

    p {
       
        margin-top: 5%;
    
    }

}


.imgbanner {
   
    display: flex;
    
    background: linear-gradient(rgba(90, 50, 29, 0.4)100%, rgba(0, 0, 0, 0.5)100%), url("../assets/img/imgtabla2.jpg");
    align-items: center;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    width: 100%;
    height: 350px;

    .imgbanner__text {
        text-align: center;
        font-family: $fuenteSecundaria;
        font-size: larger;
        color: rgba(255, 255, 255, 0.8);
        /*background-color: rgba(147, 101, 77, 0.3);*/
        padding-left: 5px;
        padding-right: 5px;
    }
    h3{
        text-transform:uppercase;
    }
    
}





.local__img img {
      margin-top: 2rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 10px 10px 5px 0px rgba(90, 50, 29, 0.55);
    border-radius: 5%;

}

.local__texto {
 
    margin-top: 2rem;
  
    text-align: justify;
   
    color: $colorPrincipal;
    font-size: larger;
    margin-bottom : 2rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}
