/* CONTAACTO PAGINA*/



.contacto {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    border: 1px solid #E2DFDD;
    box-shadow: 0px 14px 40px 0px rgba(159, 139, 139, 0.3);
    background: #ffffff;

    color: rgb(61, 57, 56);
    margin: 1% 20%;
    padding-top: 2rem;

}

.iframe {
    width: 100%;
    margin-top: 2rem;
}





.contacto__form {

    font-size: larger;

    text-align: center;
    width: 80%;
    margin: 2% 10%;
    padding-top: 10px;
    background-color: #ffffff;
}

.flexform__input input,
.flexform__input--tema input,
.flexform__txtarea textarea {
    border: 1px solid #E2DFDD;
    font-size: 15px;
    padding: 12px 20px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 14px 40px 0px rgba(220, 220, 220, 0.3);
    border-radius: 5px;
}

.flexform {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    /*para que sea responsive se reacomoden sus hijos*/

}

.flexform__input {
    text-align: left;
    margin-top: 2%;
    margin-right: 3%;
    display: flex;
    width: 28%;
    flex-direction: column;
}



.flexform__input--tema {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 15px;

}

.flexform__txtarea {
    margin: 2rem;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.divrow {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.divrow__btnsubmit {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    background: #C7A17A;
    padding: 9.5px 34px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #C7A17A;
    font-weight: 500;
    
}

.divrow__btnsubmit:hover{
background-color: #3B190B;
color: rgb(252, 248, 246);

}