/*COLORES*/
$colorPrincipal:#5a321d;
$colorSecundario:#C7A17A;

/*FUENTES*/
$fuentePrincipal:'Jost', sans-serif, serif;
$fuenteSecundaria:'EB Garamond', serif;
$fuenteMenu:'Bebas Neue', cursive;
$fuenteaux:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


$titulos: (
    "xs":16px,
    "md":20px,
    "lg":40px,
    "xl":60px
    );
    


//EACH TITULOS
@each $nombre,$size in $titulos {
    .titulo-#{$nombre} {
        font-size: $size;
        color:$colorPrincipal;
        text-transform: uppercase;
        @if($nombre=="xl"){

font-weight: 700;

        }
    }
}

//MAPA DE COLORES
$color: (
    primario:#5a321d,
    secundario: #C7A17A
);

//COLORES PARA ICONONS CON FILER
$filtrorojo:brightness(0) saturate(100%) invert(21%) sepia(53%) saturate(4868%) hue-rotate(351deg) brightness(96%) contrast(92%);
$filtroazul:brightness(0) saturate(100%) invert(36%) sepia(71%) saturate(4947%) hue-rotate(222deg) brightness(86%) contrast(88%);
$filtronaranja: invert(50%) sepia(82%) saturate(1739%) hue-rotate(359deg) brightness(102%) contrast(102%);

@mixin filtrocolor($filtrocolor) {
    
    filter: $filtrocolor
 }

   // @include filtrocolor($filtrorojo);
 
 