/*COLORES*/
$colorPrincipal:#5a321d;
$colorSecundario:#C7A17A;

/*FUENTES*/
$fuentePrincipal:'Jost', sans-serif, serif;
$fuenteSecundaria:'EB Garamond', serif;
$fuenteMenu:'Bebas Neue', cursive;
$fuenteaux:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;